# Java
target/
*.class

# Logs
*.log

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Maven
.mvn/
.settings/

# Node (for frontend later)
node_modules/

# Environment
.env
*.env

# Docker
*.pid

# Other
!.mvn/wrapper/maven-wrapper.jar
